<div class="row justify-content-center">
  <div class="col col-lg-4">
    <div class="card border-primary mb-3">
      <form [formGroup]="loginForm">
        <div class="card-header text-center"><h4>Log in:</h4></div>

        <div class="card-body">
          <fieldset>
            <input
              formControlName="username"
              class="form-control mb-4"
              placeholder="E-mail"
            />

            <input
              type="password"
              formControlName="password"
              class="form-control mb-4"
              placeholder="Password"
            />
          </fieldset>
        </div>

        <div class="card-body">
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary" (click)="login()">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
