<div class="card border-primary">
  <div class="card-header"><h4>Insurances</h4></div>

  <div class="card-body">
    <div class="tableFixed">
      <table class="table table-hover">
        <thead class="text-white">
          <th>Insurance</th>
          <th>Begins</th>
          <th>Ends</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let insurance of insurances"
            (click)="select(insurance.id)"
          >
            <td>{{ insurance.insuranceId }}</td>
            <td>{{ insurance.startDate | date: format:timezone }}</td>
            <td>{{ insurance.endDate | date: format:timezone }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-body">
      <button class="btn btn-primary" (click)="select(0)" [disabled]="isBooked">
        New insurance
      </button>
    </div>
  </div>
</div>
