//@import '~bootswatch/dist/darkly/variables';
//@import '~bootstrap/scss/bootstrap';
//@import '~bootswatch/dist/darkly/bootswatch';

@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/flatly/bootswatch';

//$accentColor: #3a5066;
$accentColor: #15bb92;

.thead {
  background-color: $accentColor;
}

.table-responsive {
  max-height: calc(80vh);
}

.tableFixed {
  overflow-y: auto;
  max-height: calc(80vh);
}

.tableFixed table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixed th,
.tableFixed td {
  padding: 8px 16px;
}

.tableFixed th {
  position: sticky;
  top: 0;
  background: $accentColor;
}

.card {
  //max-width: calc(40vw);
  min-width: calc(30vw);
}
