<div class="row justify-content-center">
  <div *ngIf="booking">
    <div class="card border-light">
      <div class="card-header">
        <div *ngIf="newEntity; else: existingEntity"><h4>New booking</h4></div>
        <ng-template #existingEntity>
          <h4>
            <h4>Booking #{{ booking.id }}</h4>
          </h4>
        </ng-template>
      </div>

      <div class="card-body">
        <form [formGroup]="form">
          <fieldset>
            <div class="form-group">
              <label>Status:</label>
              <input
                type="text"
                readonly=""
                class="form-control"
                formControlName="status"
              />
            </div>

            <div class="form-group">
              <label>Start date:</label>
              <input
                type="text"
                formControlName="startDate"
                ngbDatepicker
                #sd="ngbDatepicker"
                (click)="sd.toggle()"
                [minDate]="startDateMin"
                [maxDate]="startDateMax"
                class="form-control"
              />
            </div>

            <div class="form-group">
              <label>End date:</label>
              <input
                type="text"
                formControlName="endDate"
                ngbDatepicker
                #ed="ngbDatepicker"
                (click)="ed.toggle()"
                [minDate]="endDateMin"
                [maxDate]="endDateMax"
                class="form-control"
              />
            </div>

            <div class="form-group">
              <label>Purpose:</label>
              <textarea
                type="text"
                rows="5"
                class="form-control"
                formControlName="purpose"
              ></textarea>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="card-body">
        <form [formGroup]="form">
          <fieldset>
            <div class="form-group">
              <label>Manager notes:</label>
              <textarea
                type="text"
                rows="5"
                class="form-control"
                formControlName="notes"
              ></textarea>
            </div>
          </fieldset>
        </form>
      </div>

      <div *ngIf="isCurrentStatus('Created')">
        <div class="card-body">
          <div class="btn-group" role="group">
            <button class="btn btn-primary mb-3">Submit</button>
            <button class="btn btn-danger mb-3">Delete</button>
          </div>
        </div>
      </div>

      <div *ngIf="isCurrentStatus('Submitted')">
        <div class="card-body">
          <div class="btn-group" role="group">
            <button class="btn btn-primary mb-3">Accept</button>
            <button class="btn btn-danger mb-3">Reject</button>
          </div>
        </div>
      </div>

      <div *ngIf="isCurrentStatus('Accepted')">
        <div class="card-body">
          <div class="btn-group" role="group">
            <button class="btn btn-primary mb-3">Complete</button>
          </div>
        </div>
      </div>

      <div *ngIf="isCurrentStatus('Completed')">
        <div class="card-body">
          <div class="btn-group" role="group">
            <button class="btn btn-primary mb-3">Update</button>
          </div>
        </div>
      </div>

      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
</div>
