<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <h4>
      {{ vehicle.manufacturer }} {{ vehicle.model }} ({{
        vehicle.yearOfManufacture
      }})
    </h4>
  </div>

  <div class="card-body">
    <form>
      <fieldset>
        <div class="formg-group row">
          <label class="col-6 col-form-label">Status:</label>
          <div class="col-6">
            <input
              type="text"
              readonly=""
              class="form-control-plaintext"
              value="{{ vehicle.status }}"
            />
          </div>
        </div>
        <div class="formg-group row">
          <label class="col-6 col-form-label">Available until:</label>
          <div class="col-6">
            <input
              type="text"
              readonly=""
              class="form-control-plaintext"
              value="{{ vehicle.canBeBookedUntil | date: format:timezone }}"
            />
          </div>
        </div>
        <div class="formg-group row">
          <label class="col-6 col-form-label">License plate:</label>
          <div class="col-6">
            <input
              type="text"
              readonly=""
              class="form-control-plaintext"
              value="{{ vehicle.licensePlate }}"
            />
          </div>
        </div>
        <div class="formg-group row">
          <label class="col-6 col-form-label">Current location:</label>
          <div class="col-6">
            <input
              type="text"
              readonly=""
              class="form-control-plaintext"
              value="{{ vehicle.locationCode }}"
            />
          </div>
        </div>
        <div class="formg-group row">
          <label class="col-6 col-form-label">Mileage:</label>
          <div class="col-6">
            <input
              type="text"
              readonly=""
              class="form-control-plaintext"
              value="{{ vehicle.mileage }} km"
            />
          </div>
        </div>
        <div class="formg-group row">
          <label class="col-6 col-form-label">Horsepower:</label>
          <div class="col-6">
            <input
              type="text"
              readonly=""
              class="form-control-plaintext"
              value="{{ vehicle.horsepower }}"
            />
          </div>
        </div>
        <div class="formg-group row">
          <label class="col-6 col-form-label">Seats:</label>
          <div class="col-6">
            <input
              type="text"
              readonly=""
              class="form-control-plaintext"
              value="{{ vehicle.seats }}"
            />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="card border-light mb-3" style="max-width: 20rem;">
  <div class="card-header"><h4>New booking</h4></div>

  <div class="card-body">
    <form [formGroup]="bookingForm" (ngSubmit)="submit()">
      <fieldset>
        <div class="formg-group row">
          <label class="col-6 col-form-label">
            Start date:
            <input
              type="text"
              formControlName="startDate"
              ngbDatepicker
              #sd="ngbDatepicker"
              (click)="sd.toggle()"
              [minDate]="startDateMin"
              [maxDate]="startDateMax"
            />
          </label>
        </div>
        <div class="formg-group row">
          <label class="col-6 col-form-label">
            End date:
            <input
              type="text"
              formControlName="endDate"
              ngbDatepicker
              #ed="ngbDatepicker"
              (click)="ed.toggle()"
              [minDate]="endDateMin"
              [maxDate]="endDateMax"
            />
          </label>
        </div>
        <br />
        <div class="formg-group row">
          <div class="col-4">
            <!-- <a routerLink="/bookings/personal"> -->
            <button
              class="btn btn-primary btn-lg"
              type="submit"
              [disabled]="!bookingForm.valid"
            >
              Book
            </button>
            <!-- </a> -->
            <!--
              <div
                *ngIf="
                  bookingForm.errors?.startDateBiggerThanEndDate &&
                  (bookingForm.touched || bookingForm.dirty)
                "
                class="invalid-feedback"
              >
                Start date cannot be larger than end date.
              </div>
            -->
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
