USE [VehifleetDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22.11.2018 07:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 22.11.2018 07:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22.11.2018 07:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22.11.2018 07:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22.11.2018 07:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22.11.2018 07:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22.11.2018 07:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 22.11.2018 07:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 22.11.2018 07:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[AddedOn] [datetime2](7) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Mileage] [int] NOT NULL,
	[FuelConsumed] [int] NOT NULL,
	[Cost] [decimal](16, 2) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ManagerId] [int] NULL,
	[Status] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Purpose] [nvarchar](max) NOT NULL,
	[ManagerNotes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 22.11.2018 07:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[AddedOn] [datetime2](7) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Mileage] [int] NOT NULL,
	[FuelConsumed] [int] NOT NULL,
	[Cost] [decimal](16, 2) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdentityId] [nvarchar](450) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurances]    Script Date: 22.11.2018 07:47:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurances](
	[AddedOn] [datetime2](7) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Cost] [decimal](16, 2) NOT NULL,
	[Insurer] [nvarchar](50) NOT NULL,
	[InsuranceId] [nvarchar](max) NOT NULL,
	[Mileage] [int] NOT NULL,
 CONSTRAINT [PK_Insurances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 22.11.2018 07:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[AddedOn] [datetime2](7) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[LocationCode] [nvarchar](450) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[LocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenances]    Script Date: 22.11.2018 07:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenances](
	[AddedOn] [datetime2](7) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Mileage] [int] NOT NULL,
	[Regular] [bit] NOT NULL,
	[Completed] [bit] NOT NULL,
	[Cost] [decimal](16, 2) NOT NULL,
 CONSTRAINT [PK_Maintenances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModels]    Script Date: 22.11.2018 07:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModels](
	[AddedOn] [datetime2](7) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Mileage] [int] NOT NULL,
	[FuelConsumed] [int] NOT NULL,
	[Cost] [decimal](16, 2) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Manufacturer] [nvarchar](30) NOT NULL,
	[Model] [nvarchar](30) NOT NULL,
	[ConfigurationCode] [nvarchar](50) NOT NULL,
	[Engine] [nvarchar](60) NOT NULL,
	[Horsepower] [int] NOT NULL,
	[Seats] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[PurchaseCost] [decimal](16, 2) NOT NULL,
 CONSTRAINT [PK_VehicleModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 22.11.2018 07:47:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[AddedOn] [datetime2](7) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Mileage] [int] NOT NULL,
	[FuelConsumed] [int] NOT NULL,
	[Cost] [decimal](16, 2) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleModelId] [int] NOT NULL,
	[LocationCode] [nvarchar](450) NULL,
	[Status] [int] NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[YearOfManufacture] [int] NOT NULL,
	[ChassisCode] [nvarchar](max) NOT NULL,
	[InspectionValidUntil] [datetime2](7) NOT NULL,
	[CanBeBookedUntil] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181119010512_InitialMigrationAfterMajorRefactoring', N'2.1.4-rtm-31024')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181119225714_AddedInitialPurchaseCostToVehicleModel', N'2.1.4-rtm-31024')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'43b43239-485c-49aa-9ecf-92b6a64e70dc', N'Administrator', N'ADMINISTRATOR', N'8b86f13a-b197-4dd8-9166-ad620f03026b')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'4572ebe8-667c-44dc-abee-0d1e6c761f87', N'Manager', N'MANAGER', N'39b2a719-50b5-4820-8f5d-c545cc813812')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'81ff86a2-aa05-4b92-931b-cb302ab275ad', N'Employee', N'EMPLOYEE', N'd59337c5-2a19-4ac2-a6f5-8656a4ecc2d1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4e5adfcc-976b-4b53-85a0-33bd6904860a', N'43b43239-485c-49aa-9ecf-92b6a64e70dc')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4e5adfcc-976b-4b53-85a0-33bd6904860a', N'4572ebe8-667c-44dc-abee-0d1e6c761f87')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'585fe7ce-064a-45ff-8ee7-c628dd457422', N'4572ebe8-667c-44dc-abee-0d1e6c761f87')
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [VehicleId], [EmployeeId], [ManagerId], [Status], [StartDate], [EndDate], [Purpose], [ManagerNotes]) VALUES (CAST(N'2018-11-21T20:49:14.1424762' AS DateTime2), N'admin', NULL, NULL, 109, 0, CAST(0.00 AS Decimal(16, 2)), 140, 43, 5, 6, 4, CAST(N'2017-01-24T00:00:00.0000000' AS DateTime2), CAST(N'2017-02-06T00:00:00.0000000' AS DateTime2), N'Example purpose generated during seeding.', NULL)
INSERT [dbo].[Bookings] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [VehicleId], [EmployeeId], [ManagerId], [Status], [StartDate], [EndDate], [Purpose], [ManagerNotes]) VALUES (CAST(N'2018-11-21T20:49:14.2964683' AS DateTime2), N'admin', NULL, NULL, 158, 0, CAST(0.00 AS Decimal(16, 2)), 141, 48, 3, 5, 4, CAST(N'2017-02-07T00:00:00.0000000' AS DateTime2), CAST(N'2017-02-20T00:00:00.0000000' AS DateTime2), N'Example purpose generated during seeding.', NULL)
INSERT [dbo].[Bookings] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [VehicleId], [EmployeeId], [ManagerId], [Status], [StartDate], [EndDate], [Purpose], [ManagerNotes]) VALUES (CAST(N'2018-11-21T20:49:14.2964677' AS DateTime2), N'admin', NULL, NULL, 7, 0, CAST(0.00 AS Decimal(16, 2)), 142, 48, 3, 6, 4, CAST(N'2017-08-17T00:00:00.0000000' AS DateTime2), CAST(N'2017-08-22T00:00:00.0000000' AS DateTime2), N'Example purpose generated during seeding.', NULL)
GO
SET IDENTITY_INSERT [dbo].[Bookings] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [IdentityId], [IsActive]) VALUES (CAST(N'2018-11-19T23:17:07.9657509' AS DateTime2), N'admin', CAST(N'2018-11-19T23:17:07.9659304' AS DateTime2), N'admin', 12623, 0, CAST(0.00 AS Decimal(16, 2)), 1, N'4e5adfcc-976b-4b53-85a0-33bd6904860a', 1)
INSERT [dbo].[Employees] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [IdentityId], [IsActive]) VALUES (CAST(N'2018-11-19T23:18:54.8646367' AS DateTime2), N'admin', CAST(N'2018-11-19T23:18:54.8646374' AS DateTime2), N'admin', 13027, 0, CAST(0.00 AS Decimal(16, 2)), 2, N'eb7d0ce5-c326-4280-bae7-3f5c0eb31e24', 1)
INSERT [dbo].[Employees] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [IdentityId], [IsActive]) VALUES (CAST(N'2018-11-19T23:18:57.7935557' AS DateTime2), N'admin', CAST(N'2018-11-19T23:18:57.7935560' AS DateTime2), N'admin', 13664, 0, CAST(0.00 AS Decimal(16, 2)), 3, N'27a7328f-7e23-4972-9bc0-4b1dc9555721', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Insurances] ON 

INSERT [dbo].[Insurances] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Id], [VehicleId], [StartDate], [EndDate], [Cost], [Insurer], [InsuranceId], [Mileage]) VALUES (CAST(N'2018-11-21T20:49:14.8588160' AS DateTime2), N'admin', NULL, NULL, 1, 67, CAST(N'2015-08-23T00:00:00.0000000' AS DateTime2), CAST(N'2016-08-23T00:00:00.0000000' AS DateTime2), CAST(602.00 AS Decimal(16, 2)), N'Goldberg Insurance', N'INS-2015-8-23-1061', 7715435)
INSERT [dbo].[Insurances] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Id], [VehicleId], [StartDate], [EndDate], [Cost], [Insurer], [InsuranceId], [Mileage]) VALUES (CAST(N'2018-11-21T20:49:14.5138555' AS DateTime2), N'admin', NULL, NULL, 2, 56, CAST(N'2015-09-20T00:00:00.0000000' AS DateTime2), CAST(N'2016-09-20T00:00:00.0000000' AS DateTime2), CAST(662.00 AS Decimal(16, 2)), N'Goldberg Insurance', N'INS-2015-9-20-1050', 6468150)
INSERT [dbo].[Insurances] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Id], [VehicleId], [StartDate], [EndDate], [Cost], [Insurer], [InsuranceId], [Mileage]) VALUES (CAST(N'2018-11-21T20:49:14.5477604' AS DateTime2), N'admin', NULL, NULL, 3, 57, CAST(N'2017-06-24T00:00:00.0000000' AS DateTime2), CAST(N'2018-06-24T00:00:00.0000000' AS DateTime2), CAST(709.00 AS Decimal(16, 2)), N'Protecto', N'INS-2017-6-24-1170', 10266530)
GO
SET IDENTITY_INSERT [dbo].[Insurances] OFF
INSERT [dbo].[Locations] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [LocationCode], [LocationName], [City], [Address]) VALUES (CAST(N'2018-11-19T23:02:02.4076829' AS DateTime2), N'admin', NULL, NULL, N'KRK-1', N'Smog Center', N'Kraków', N'Smogowa 96')
INSERT [dbo].[Locations] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [LocationCode], [LocationName], [City], [Address]) VALUES (CAST(N'2018-11-19T23:02:02.4076832' AS DateTime2), N'admin', NULL, NULL, N'OPO-1', N'Golden Tower', N'Opole', N'Garncarska 4')
INSERT [dbo].[Locations] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [LocationCode], [LocationName], [City], [Address]) VALUES (CAST(N'2018-11-19T23:02:02.4073708' AS DateTime2), N'admin', NULL, NULL, N'WRO-1', N'Grey Towers', N'Wrocław', N'Brzozowa 45')
SET IDENTITY_INSERT [dbo].[Maintenances] ON 

INSERT [dbo].[Maintenances] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Id], [VehicleId], [StartDate], [EndDate], [Description], [Mileage], [Regular], [Completed], [Cost]) VALUES (CAST(N'2018-11-21T20:49:15.2405165' AS DateTime2), N'admin', NULL, NULL, 1, 78, CAST(N'2017-07-16T00:00:00.0000000' AS DateTime2), CAST(N'2017-07-24T00:00:00.0000000' AS DateTime2), N'Maintenance example generated during seeding.', 6958650, 1, 1, CAST(1296.00 AS Decimal(16, 2)))
INSERT [dbo].[Maintenances] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Id], [VehicleId], [StartDate], [EndDate], [Description], [Mileage], [Regular], [Completed], [Cost]) VALUES (CAST(N'2018-11-21T20:49:15.2405178' AS DateTime2), N'admin', NULL, NULL, 2, 78, CAST(N'2018-08-19T00:00:00.0000000' AS DateTime2), CAST(N'2018-08-26T00:00:00.0000000' AS DateTime2), N'Maintenance example generated during seeding.', 6962100, 1, 1, CAST(1305.00 AS Decimal(16, 2)))
INSERT [dbo].[Maintenances] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Id], [VehicleId], [StartDate], [EndDate], [Description], [Mileage], [Regular], [Completed], [Cost]) VALUES (CAST(N'2018-11-21T20:49:15.2405181' AS DateTime2), N'admin', NULL, NULL, 3, 78, CAST(N'2017-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2017-05-12T00:00:00.0000000' AS DateTime2), N'Maintenance example generated during seeding.', 6958650, 1, 1, CAST(430.00 AS Decimal(16, 2)))
GO
SET IDENTITY_INSERT [dbo].[Maintenances] OFF
SET IDENTITY_INSERT [dbo].[VehicleModels] ON 

INSERT [dbo].[VehicleModels] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [Manufacturer], [Model], [ConfigurationCode], [Engine], [Horsepower], [Seats], [Weight], [PurchaseCost]) VALUES (CAST(N'2018-11-19T23:01:58.9837098' AS DateTime2), N'admin', NULL, NULL, 7806, 0, CAST(778.00 AS Decimal(16, 2)), 3, N'Ford', N'Focus', N'FF2018184', N'1.8 TDCi', 115, 4, 1200, CAST(70000.00 AS Decimal(16, 2)))
INSERT [dbo].[VehicleModels] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [Manufacturer], [Model], [ConfigurationCode], [Engine], [Horsepower], [Seats], [Weight], [PurchaseCost]) VALUES (CAST(N'2018-11-19T23:01:58.9845431' AS DateTime2), N'admin', NULL, NULL, 23845, 631, CAST(6521.00 AS Decimal(16, 2)), 4, N'Ford', N'Focus', N'FF2018154', N'1.2 Eco', 85, 4, 1150, CAST(60000.00 AS Decimal(16, 2)))
INSERT [dbo].[VehicleModels] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [Manufacturer], [Model], [ConfigurationCode], [Engine], [Horsepower], [Seats], [Weight], [PurchaseCost]) VALUES (CAST(N'2018-11-19T23:01:58.9845434' AS DateTime2), N'admin', NULL, NULL, 49089, 2041, CAST(21809.00 AS Decimal(16, 2)), 5, N'Ford', N'Mondeo', N'FM2018184', N'1.8 EcoBoost', 155, 4, 1300, CAST(120000.00 AS Decimal(16, 2)))
SET IDENTITY_INSERT [dbo].[VehicleModels] OFF
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [VehicleModelId], [LocationCode], [Status], [LicensePlate], [YearOfManufacture], [ChassisCode], [InspectionValidUntil], [CanBeBookedUntil]) VALUES (CAST(N'2018-11-21T20:46:14.4352503' AS DateTime2), N'admin', NULL, NULL, 7135, 373, CAST(9497.00 AS Decimal(16, 2)), 31, 3, N'KRK-1', 0, N'PBK HCWV', 2016, N'I1Y9HNIMESHU', CAST(N'2019-07-07T00:00:00.0000000' AS DateTime2), CAST(N'2019-07-07T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Vehicles] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [VehicleModelId], [LocationCode], [Status], [LicensePlate], [YearOfManufacture], [ChassisCode], [InspectionValidUntil], [CanBeBookedUntil]) VALUES (CAST(N'2018-11-21T20:46:15.3721973' AS DateTime2), N'admin', NULL, NULL, 9823, 532, CAST(4812.00 AS Decimal(16, 2)), 32, 8, N'WRO-1', 0, N'DWR 6N63', 2016, N'571VIXS34I71', CAST(N'2019-07-06T00:00:00.0000000' AS DateTime2), CAST(N'2019-03-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Vehicles] ([AddedOn], [AddedBy], [ModifiedOn], [ModifiedBy], [Mileage], [FuelConsumed], [Cost], [Id], [VehicleModelId], [LocationCode], [Status], [LicensePlate], [YearOfManufacture], [ChassisCode], [InspectionValidUntil], [CanBeBookedUntil]) VALUES (CAST(N'2018-11-21T20:46:15.4043453' AS DateTime2), N'admin', NULL, NULL, 659, 0, CAST(2006.00 AS Decimal(16, 2)), 33, 7, N'WRO-3', 0, N'PBK JWL2', 2018, N'UTQYXSB44JGE', CAST(N'2019-10-16T00:00:00.0000000' AS DateTime2), CAST(N'2019-10-16T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
ALTER TABLE [dbo].[VehicleModels] ADD  DEFAULT ((0.0)) FOR [PurchaseCost]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Employees_ManagerId] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Employees_ManagerId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_AspNetUsers_IdentityId] FOREIGN KEY([IdentityId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_AspNetUsers_IdentityId]
GO
ALTER TABLE [dbo].[Insurances]  WITH CHECK ADD  CONSTRAINT [FK_Insurances_Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Insurances] CHECK CONSTRAINT [FK_Insurances_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[Maintenances]  WITH CHECK ADD  CONSTRAINT [FK_Maintenances_Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Maintenances] CHECK CONSTRAINT [FK_Maintenances_Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Locations_LocationCode] FOREIGN KEY([LocationCode])
REFERENCES [dbo].[Locations] ([LocationCode])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Locations_LocationCode]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_VehicleModels_VehicleModelId] FOREIGN KEY([VehicleModelId])
REFERENCES [dbo].[VehicleModels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_VehicleModels_VehicleModelId]
GO
